#prmbn, #rpc, #rmg, #lmg,
#rpc > div, #rmg > div, #brand-top, #brand, #brand2, .full-news-3.spoiler-wrap, #lpc, #teaser-cc-cell {
    display: none !important;
}

body, .sideleft, .sideright {
    background-image: none !important;
    padding: 0 !important;
    background: none;
}

#brand {
    height: 0 !important;
}




